/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.c-footer{
    --footer-bg: #cfe8e9;
    background-color: var(--footer-bg);
    &__content {
        padding: 17px 0 11px;
        .l-container {
            // display: flex;
            // align-items: center;
            // justify-content: space-between;
            // flex-wrap: wrap;
        }
        ul {
            display: flex;
            align-items: baseline;
            justify-content: center;
            font-size: 1.68rem;
            font-weight: 500;
            padding-right: 10px;
            li{
                position: relative;
                padding: 0px 24px;
                &:not(:last-child) {
                    &::before {
                        content: '';
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translate(0, -50%);
                        height: 100%;
                        width: 2px;
                        background-color: #000;
                    }
                }
            }
        }
    }
    &__logo {
        max-width: 37%;
        margin: 0 auto 15px;
    }
    &__copyright {
        color: #fff;
        background-color: var(--primary);
        text-align: center;
        p {
            font-size: 1.68rem;
        }
    }
}

@media screen and (max-width: 768px) {
    .c-footer {
        &__content {
            padding-bottom: 10px;
            .l-container {
                justify-content: center;
            }
            ul {
                width: 100%;
                margin-top: 10px;
                font-size: 0.8rem;
                padding: 0;
                justify-content: center;
                li {
                    padding: 0px 8px;
                    &:not(:last-child) {
                        &::before {
                            width: 1px;
                        }
                    }
                }
            }
        }
        &__logo {
            max-width: 50%;
            width: 400px;
        }
        &__copyright {
            padding: 10px 0;
            p {
                font-size: 1rem;
            }
        }
    }
}