<%- include('inc/_header'); %>
<!--▼ Content area ▼-->
<main class="p-about">
    <div class="l-container">
        <ul class="c-breadcrumb">
            <li class="c-breadcrumb__homepage">
                <a href="index.html">
                    <img src="../assets/img/breadcrumb_home.svg" width="38" alt="homepage">
                </a>
            </li>
            <li>
                インフラメンテナンス国民会議とは
            </li>
        </ul>
        <div class="l-child-page">
            <div class="l-child-page__aside">
                <div class="l-child-page__spBar">
                    <button>
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
                <!--▼ Content area ▼-->
                <%- include('inc/_aboutNav'); %>
                <!--▲ Content are ▲-->
            </div>
            <div class="l-child-page__article">
                <h2  class="c-page-title p-about__title">インフラメンテナンス国民会議とは</h2>
                <h3>事業内容等</h3>
                <p>インフラメンテナンス国民会議では、年度ごとに実施する取組を以下の「事業計画書」に取りまとめています。</p>
                <h4>
                    実施要領
                </h4>
                <p>
                    インフラメンテナンス国民会議 実施要領(令和 3 年 1 月 8 日変更)(PDF 形式)PDF 形式
                </p>
                <h4>
                    事業計画書
                </h4>
                <p>令和4年度インフラメンテナンス国民会議 事業計画書(PDF 形式)PDF 形式</p>
                <p>令和3年度インフラメンテナンス国民会議 事業計画書(PDF 形式)PDF 形式</p>
                <p>令和2年度インフラメンテナンス国民会議 事業計画書(PDF 形式)PDF 形式</p>
                <p>令和元年度インフラメンテナンス国民会議 事業計画書(PDF 形式)PDF 形式</p>
                <p>平成 30 年度インフラメンテナンス国民会議 事業計画書(PDF 形式)PDF 形式</p>
                <p>平成 29 年度インフラメンテナンス国民会議 事業計画書(PDF 形式)PDF 形式</p>
                <h4>インフラメンテナンス国民会議 ファクトブック</h4>
                <p>インフラメンテナンス国民会議 ファクトブック 2021-2022(PDF 形式:14MB)PDF 形式</p>
                <p>インフラメンテナンス国民会議 ファクトブック 2020-2021(PDF 形式:8MB)PDF 形式</p>
                <p>インフラメンテナンス国民会議 ファクトブック 2019-2020(PDF 形式:7MB)PDF 形式</p>
                <p>インフラメンテナンス国民会議 ファクトブック 2018-2019(PDF 形式:11MB)PDF 形式</p>
                <p>インフラメンテナンス国民会議 ファクトブック 2017-2018(PDF 形式:5MB)PDF 形式</p>
                <h4>案内チラシ</h4>
                <p>案内チラシ(令和 4 年 11 月 30 日時点)(PDF 形式:0.5MB)PDF 形式</p>
            </div>
        </div>
    </div>
</main>
<!--▲ Content are ▲-->
<%- include('inc/_footer'); %>