<%- include('inc/_header'); %>
<!--▼ Content area ▼-->
<main class="p-memberApplicate">
    <div class="l-container">
        <ul class="c-breadcrumb">
            <li class="c-breadcrumb__homepage">
                <a href="index.html">
                    <img src="../assets/img/breadcrumb_home.svg" width="38" alt="homepage">
                </a>
            </li>
            <li>
                会員情報
            </li>
        </ul>
        <div class="l-child-page">
            <div class="l-child-page__aside">
                <div class="l-child-page__spBar">
                    <button>
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
                <!--▼ Content area ▼-->
                <%- include('inc/_membershipNav'); %>
                <!--▲ Content are ▲-->
            </div>
            <div class="l-child-page__article">
                <h2  class="c-page-title">会員の区別</h2>
                <h3>「インフラメンテナンス国民会議」 入会申込書</h3>
                <form class="c-form" action="" method="post">
                    <div class="c-form__row">
                        <p class="c-form__label">
                            <label for="">会員種別</label>
                        </p>
                        <div class="c-form__input">
                            <label class="c-form__radio">
                                <input type="radio" name="sample">
                                <span>企業会員</span>
                            </label>
                            <label class="c-form__radio">
                                <input type="radio" name="sample">
                                <span>行政会員</span>
                            </label>
                            <label class="c-form__radio">
                                <input type="radio" name="sample">
                                <span>団体会員</span>
                            </label>
                        </div>
                    </div>
                    <div class="c-form__row">
                        <p class="c-form__label">
                            <label for="">企業・団体等 名称</label>
                        </p>
                        <div class="c-form__input">
                            <input type="text">
                        </div>
                    </div>
                    <div class="c-form__row">
                        <p class="c-form__label">
                            <label for="">企業・団体等 所在地</label>
                        </p>
                        <div class="c-form__input">
                            <span class="c-form__addrSymbol">〒</span><input type="text">
                            <input type="text">
                        </div>
                    </div>
                    <div class="c-form__row">
                        <p class="c-form__label">
                            <label for="">代表者（窓口（正）</label>
                        </p>
                    </div>
                    <div class="c-form__row">
                        <p class="c-form__label">
                            <label for="">氏名</label>
                        </p>
                        <div class="c-form__input">
                            <input type="text">
                        </div>
                    </div>
                    <div class="c-form__row">
                        <p class="c-form__label">
                            <label for="">よみがな</label>
                        </p>
                        <div class="c-form__input">
                            <input type="text">
                        </div>
                    </div>
                    <div class="c-form__row">
                        <p class="c-form__label">
                            <label for="">所属</label>
                        </p>
                        <div class="c-form__input">
                            <input type="text">
                        </div>
                    </div>
                    <div class="c-form__row">
                        <p class="c-form__label">
                            <label for="">役職</label>
                        </p>
                        <div class="c-form__input">
                            <input type="text">
                        </div>
                    </div>
                    <div class="c-form__row">
                        <p class="c-form__label">
                            <label for="">連絡先</label>
                            <span>TEL</span>
                        </p>
                        <div class="c-form__input">
                            <input type="text">
                        </div>
                    </div>
                    <div class="c-form__row">
                        <p class="c-form__label">
                            <span>メール</span>
                        </p>
                        <div class="c-form__input">
                            <input type="email">
                        </div>
                    </div>
                    <div class="c-form__row">
                        <p class="c-form__label">
                            <label for="">代表者（窓口（副）</label>
                        </p>
                    </div>
                    <div class="c-form__row">
                        <p class="c-form__label">
                            <label for="">氏名</label>
                        </p>
                        <div class="c-form__input">
                            <input type="text">
                        </div>
                    </div>
                    <div class="c-form__row">
                        <p class="c-form__label">
                            <label for="">よみがな</label>
                        </p>
                        <div class="c-form__input">
                            <input type="text">
                        </div>
                    </div>
                    <div class="c-form__row">
                        <p class="c-form__label">
                            <label for="">所属</label>
                        </p>
                        <div class="c-form__input">
                            <input type="text">
                        </div>
                    </div>
                    <div class="c-form__row">
                        <p class="c-form__label">
                            <label for="">役職</label>
                        </p>
                        <div class="c-form__input">
                            <input type="text">
                        </div>
                    </div>
                    <div class="c-form__row">
                        <p class="c-form__label">
                            <label for="">連絡先</label>
                            <span>TEL</span>
                        </p>
                        <div class="c-form__input">
                            <input type="text">
                        </div>
                    </div>
                    <div class="c-form__row">
                        <p class="c-form__label">
                            <span>メール</span>
                        </p>
                        <div class="c-form__input">
                            <input type="email">
                        </div>
                    </div>
                    <p class="c-form__small">
                        ※企業・団体内の方に対するメルマガ等の配信については、正又は副窓口代表者より転送願います。 <br>
                        ※正・副代表者が異動等により変更となる場合は、事務局に連絡下さい。 <br>
                        ※メールアドレス等を手書きで記入するときは、アルファベットの大文字と小文字が判るように記入をお願いします。 <br>
                        　　例　数字の１（イチ）とアルファベット小文字 l（エル） <br>
                        　　　 数字の０（ゼロ）とアルファベット大文字Ｏ（オー） <br>
                        ※入会申込書の提出によりご登録いただいた個人情報の全部又は一部を国土交通省と国民会議の運営支援のために<br> 
                        　業務委託契約を締結した委託先企業に対し、会員情報整理のために提供することがあります。
                    </p>
                    <!-- <div class="c-form__submit">
                        <button>内容を確認する</button>
                    </div> -->
                </form>
            </div>
        </div>
    </div>
</main>
<!--▲ Content are ▲-->
<%- include('inc/_footer'); %>