<%- include('inc/_header'); %>
<!--▼ Content area ▼-->
<main class="p-forum">
    <%- include('inc/_page-menu'); %>
    <div class="l-container">
        <ul class="c-breadcrumb">
            <li class="c-breadcrumb__homepage">
                <a href="index.html">
                    <img src="../assets/img/breadcrumb_home.svg" width="38" alt="homepage">
                </a>
            </li>
            <li>
              北海道フォーラム
            </li>
        </ul>
        <div class="l-child-page">
            <div class="l-child-page__aside">
                <div class="l-child-page__spBar">
                    <button>
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
                <!--▼ Content area ▼-->
                <%- include('inc/_forumNav'); %>
                <!--▲ Content are ▲-->
            </div>
            <div class="l-child-page__article">
                <h2  class="c-page-title p-about__title">北海道フォーラム</h2>
                <section class="p-forum__mainVisual">
                    <div class="p-forum__box2" style="--main-color: var(--royal-blue)">
                        <div class="content">
                          <h2>
                            <?xml version="1.0" encoding="UTF-8"?>
<svg id="_ヘッダー" data-name="ヘッダー" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27.33 27.33">
  <defs>
  </defs>
  <path class="cls-1" d="m13.66,0l13.66,13.66-13.66,13.66L0,13.66,13.66,0Z"/>
</svg>
                            北海道フォーラム
                          </h2>
                          <p>
                            平成30年3月23日に設立し、北海道内の地方公共団体が管理する土木施設・公共施設の適切なメンテナンスを継続していくため、 産学官民の技術や知恵を総動員するプラット フォーラムとして、活動しています。
                          </p>
                        </div>
                        <div class="leader">
                          <p>
                            <span>リーダー 高野 伸栄</span><br>
                            <span>北海道大学大学院工学研究院教授</span>
                          </p>
                          <img src="../assets/img/nobuaki-takano.png" alt="leader" width="134">
                        </div>
                        <img src="../assets/img/hokkaido_bg.svg" alt="hokkaido_map" class="map">
                    </div>
                </section>
                <section class="p-forum__content">
                    <div class="c-list-news">
                        <div class="c-list-news__title">
                          <img src="../assets/img/news-ico.svg" width="100" alt="新着情報" />
                          <h3>新着情報</h3>
                        </div>
                        <ul class="c-list-news__content">
                          <li class="c-list-news__item">
                            <p class="c-list-news__date">0000.0.00</p>
                            <div class="c-list-news__cat">
                               <span style="--bg-color: var(--cat-yellow)">中国フォーラム</span>
                            </div>
                            <h5 class="c-list-news__item-title">
                              <a href="javascript:void(0)">
                                <p>○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○...</p>
                              </a>
                            </h5>
                          </li>
                          <li class="c-list-news__item">
                            <p class="c-list-news__date">0000.0.00</p>
                            <div class="c-list-news__cat">
                               <span style="--bg-color: var(--cat-green)">近畿フォーラム</span>
                            </div>
                            <h5 class="c-list-news__item-title">
                              <a href="javascript:void(0)">
                                <p>○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○...</p>
                              </a>
                            </h5>
                          </li>
                          <li class="c-list-news__item">
                            <p class="c-list-news__date">0000.0.00</p>
                            <div class="c-list-news__cat">
                               <span style="--bg-color: var(--cat-purple)">東北フォーラム</span>
                            </div>
                            <h5 class="c-list-news__item-title">
                              <a href="javascript:void(0)">
                                <p>○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○...</p>
                              </a>
                            </h5>
                          </li>
                          <li class="c-list-news__item">
                            <p class="c-list-news__date">0000.0.00</p>
                            <div class="c-list-news__cat">
                               <span style="--bg-color: var(--cat-blue)">関東フォーラム</span>
                            </div>
                            <h5 class="c-list-news__item-title">
                              <a href="javascript:void(0)">
                                <p>○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○...</p>
                              </a>
                            </h5>
                          </li>
                          <li class="c-list-news__item">
                            <p class="c-list-news__date">0000.0.00</p>
                            <div class="c-list-news__cat">
                               <span style="--bg-color: var(--cat-orange)">四国フォーラム</span>
                            </div>
                            <h5 class="c-list-news__item-title">
                              <a href="javascript:void(0)">
                                <p>○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○...</p>
                              </a>
                            </h5>
                          </li>
                          <li class="c-list-news__item">
                            <p class="c-list-news__date">0000.0.00</p>
                            <div class="c-list-news__cat">
                               <span style="--bg-color: var(--cat-str-green)">中部フォーラム</span>
                            </div>
                            <h5 class="c-list-news__item-title">
                              <a href="javascript:void(0)">
                                <p>○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○...</p>
                              </a>
                            </h5>
                          </li>
                        </ul>
                        <div class="c-list-news__more">
                          <a href="javascript:void(0)">一覧へ</a>
                        </div>
                    </div>
                    <div class="c-list-news">
                      <div class="c-list-news__title">
                        <img
                          src="../assets/img/event-ico-02.svg"
                          width="108"
                          alt="イベント情報"
                        />
                        <h3>イベント情報</h3>
                      </div>
                      <ul class="c-list-news__content">
                        <li class="c-list-news__item">
                          <p class="c-list-news__date">0000.0.00</p>
                          <div class="c-list-news__cat">
                              <span style="--bg-color: var(--cat-yellow)">中国フォーラム</span>
                          </div>
                          <h5 class="c-list-news__item-title">
                            <a href="javascript:void(0)">
                              <p>○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○...</p>
                            </a>
                          </h5>
                        </li>
                        <li class="c-list-news__item">
                          <p class="c-list-news__date">0000.0.00</p>
                          <div class="c-list-news__cat">
                              <span style="--bg-color: var(--cat-green)">近畿フォーラム</span>
                          </div>
                          <h5 class="c-list-news__item-title">
                            <a href="javascript:void(0)">
                              <p>○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○...</p>
                            </a>
                          </h5>
                        </li>
                        <li class="c-list-news__item">
                          <p class="c-list-news__date">0000.0.00</p>
                          <div class="c-list-news__cat">
                              <span style="--bg-color: var(--cat-purple)">東北フォーラム</span>
                          </div>
                          <h5 class="c-list-news__item-title">
                            <a href="javascript:void(0)">
                              <p>○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○...</p>
                            </a>
                          </h5>
                        </li>
                        <li class="c-list-news__item">
                          <p class="c-list-news__date">0000.0.00</p>
                          <div class="c-list-news__cat">
                              <span style="--bg-color: var(--cat-blue)">関東フォーラム</span>
                          </div>
                          <h5 class="c-list-news__item-title">
                            <a href="javascript:void(0)">
                              <p>○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○...</p>
                            </a>
                          </h5>
                        </li>
                        <li class="c-list-news__item">
                          <p class="c-list-news__date">0000.0.00</p>
                          <div class="c-list-news__cat">
                              <span style="--bg-color: var(--cat-orange)">四国フォーラム</span>
                          </div>
                          <h5 class="c-list-news__item-title">
                            <a href="javascript:void(0)">
                              <p>○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○...</p>
                            </a>
                          </h5>
                        </li>
                        <li class="c-list-news__item">
                          <p class="c-list-news__date">0000.0.00</p>
                          <div class="c-list-news__cat">
                              <span style="--bg-color: var(--cat-str-green)">中部フォーラム</span>
                          </div>
                          <h5 class="c-list-news__item-title">
                            <a href="javascript:void(0)">
                              <p>○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○...</p>
                            </a>
                          </h5>
                        </li>
                      </ul>
                      <div class="c-list-news__more">
                        <a href="javascript:void(0)">一覧へ</a>
                      </div>
                    </div>
                    <div class="c-list-news">
                      <div class="c-list-news__title">
                        <img
                          src="../assets/img/activity-ico.svg"
                          width="80.9"
                          alt="活動紹介"
                        />
                        <h3>活動紹介</h3>
                      </div>
                      <ul class="c-list-news__content">
                        <li class="c-list-news__item">
                          <p class="c-list-news__date">0000.0.00</p>
                          <div class="c-list-news__cat">
                              <span style="--bg-color: var(--cat-yellow)">中国フォーラム</span>
                          </div>
                          <h5 class="c-list-news__item-title">
                            <a href="javascript:void(0)">
                              <p>○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○...</p>
                            </a>
                          </h5>
                        </li>
                        <li class="c-list-news__item">
                          <p class="c-list-news__date">0000.0.00</p>
                          <div class="c-list-news__cat">
                              <span style="--bg-color: var(--cat-green)">近畿フォーラム</span>
                          </div>
                          <h5 class="c-list-news__item-title">
                            <a href="javascript:void(0)">
                              <p>○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○...</p>
                            </a>
                          </h5>
                        </li>
                        <li class="c-list-news__item">
                          <p class="c-list-news__date">0000.0.00</p>
                          <div class="c-list-news__cat">
                              <span style="--bg-color: var(--cat-purple)">東北フォーラム</span>
                          </div>
                          <h5 class="c-list-news__item-title">
                            <a href="javascript:void(0)">
                              <p>○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○...</p>
                            </a>
                          </h5>
                        </li>
                        <li class="c-list-news__item">
                          <p class="c-list-news__date">0000.0.00</p>
                          <div class="c-list-news__cat">
                              <span style="--bg-color: var(--cat-blue)">関東フォーラム</span>
                          </div>
                          <h5 class="c-list-news__item-title">
                            <a href="javascript:void(0)">
                              <p>○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○...</p>
                            </a>
                          </h5>
                        </li>
                        <li class="c-list-news__item">
                          <p class="c-list-news__date">0000.0.00</p>
                          <div class="c-list-news__cat">
                              <span style="--bg-color: var(--cat-orange)">四国フォーラム</span>
                          </div>
                          <h5 class="c-list-news__item-title">
                            <a href="javascript:void(0)">
                              <p>○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○...</p>
                            </a>
                          </h5>
                        </li>
                        <li class="c-list-news__item">
                          <p class="c-list-news__date">0000.0.00</p>
                          <div class="c-list-news__cat">
                              <span style="--bg-color: var(--cat-str-green)">中部フォーラム</span>
                          </div>
                          <h5 class="c-list-news__item-title">
                            <a href="javascript:void(0)">
                              <p>○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○...</p>
                            </a>
                          </h5>
                        </li>
                      </ul>
                      <div class="c-list-news__more">
                        <a href="javascript:void(0)">一覧へ</a>
                      </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</main>
<!--▲ Content are ▲-->
<%- include('inc/_footer'); %>