<%- include('inc/_header'); %>
<!--▼ Content area ▼-->
<main class="p-forum">
    <div class="l-container">
        <ul class="c-breadcrumb">
            <li class="c-breadcrumb__homepage">
                <a href="index.html">
                    <img src="../assets/img/breadcrumb_home.svg" width="38" alt="homepage">
                </a>
            </li>
            <li>
                公認フォーラム
            </li>
        </ul>
        <section class="p-forum__content">
          <div class="c-list-news">
              <div class="c-list-news__title">
                  <img
                  src="../assets/img/activity-ico.svg"
                  width="80.9"
                  alt="活動紹介"
                />
                <h3>活動紹介</h3>
              </div>
              <ul class="c-list-news__content">
                <li class="c-list-news__item">
                  <p class="c-list-news__date">0000.0.00</p>
                  <div class="c-list-news__cat">
                     <span style="--bg-color: var(--cat-yellow)">中国フォーラム</span>
                  </div>
                  <h5 class="c-list-news__item-title">
                    <a href="javascript:void(0)">
                      <p>○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○...</p>
                    </a>
                  </h5>
                </li>
                <li class="c-list-news__item">
                  <p class="c-list-news__date">0000.0.00</p>
                  <div class="c-list-news__cat">
                     <span style="--bg-color: var(--cat-green)">近畿フォーラム</span>
                  </div>
                  <h5 class="c-list-news__item-title">
                    <a href="javascript:void(0)">
                      <p>○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○...</p>
                    </a>
                  </h5>
                </li>
                <li class="c-list-news__item">
                  <p class="c-list-news__date">0000.0.00</p>
                  <div class="c-list-news__cat">
                     <span style="--bg-color: var(--cat-purple)">東北フォーラム</span>
                  </div>
                  <h5 class="c-list-news__item-title">
                    <a href="javascript:void(0)">
                      <p>○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○...</p>
                    </a>
                  </h5>
                </li>
                <li class="c-list-news__item">
                  <p class="c-list-news__date">0000.0.00</p>
                  <div class="c-list-news__cat">
                     <span style="--bg-color: var(--cat-blue)">関東フォーラム</span>
                  </div>
                  <h5 class="c-list-news__item-title">
                    <a href="javascript:void(0)">
                      <p>○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○...</p>
                    </a>
                  </h5>
                </li>
                <li class="c-list-news__item">
                  <p class="c-list-news__date">0000.0.00</p>
                  <div class="c-list-news__cat">
                     <span style="--bg-color: var(--cat-orange)">四国フォーラム</span>
                  </div>
                  <h5 class="c-list-news__item-title">
                    <a href="javascript:void(0)">
                      <p>○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○...</p>
                    </a>
                  </h5>
                </li>
                <li class="c-list-news__item">
                  <p class="c-list-news__date">0000.0.00</p>
                  <div class="c-list-news__cat">
                     <span style="--bg-color: var(--cat-str-green)">中部フォーラム</span>
                  </div>
                  <h5 class="c-list-news__item-title">
                    <a href="javascript:void(0)">
                      <p>○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○...</p>
                    </a>
                  </h5>
                </li>
                <li class="c-list-news__item">
                  <p class="c-list-news__date">0000.0.00</p>
                  <div class="c-list-news__cat">
                     <span style="--bg-color: var(--cat-green)">近畿フォーラム</span>
                  </div>
                  <h5 class="c-list-news__item-title">
                    <a href="javascript:void(0)">
                      <p>○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○...</p>
                    </a>
                  </h5>
                </li>
                <li class="c-list-news__item">
                  <p class="c-list-news__date">0000.0.00</p>
                  <div class="c-list-news__cat">
                     <span style="--bg-color: var(--cat-purple)">東北フォーラム</span>
                  </div>
                  <h5 class="c-list-news__item-title">
                    <a href="javascript:void(0)">
                      <p>○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○...</p>
                    </a>
                  </h5>
                </li>
                <li class="c-list-news__item">
                  <p class="c-list-news__date">0000.0.00</p>
                  <div class="c-list-news__cat">
                     <span style="--bg-color: var(--cat-blue)">関東フォーラム</span>
                  </div>
                  <h5 class="c-list-news__item-title">
                    <a href="javascript:void(0)">
                      <p>○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○...</p>
                    </a>
                  </h5>
                </li>
                <li class="c-list-news__item">
                  <p class="c-list-news__date">0000.0.00</p>
                  <div class="c-list-news__cat">
                     <span style="--bg-color: var(--cat-orange)">四国フォーラム</span>
                  </div>
                  <h5 class="c-list-news__item-title">
                    <a href="javascript:void(0)">
                      <p>○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○...</p>
                    </a>
                  </h5>
                </li>
                <li class="c-list-news__item">
                  <p class="c-list-news__date">0000.0.00</p>
                  <div class="c-list-news__cat">
                     <span style="--bg-color: var(--cat-str-green)">中部フォーラム</span>
                  </div>
                  <h5 class="c-list-news__item-title">
                    <a href="javascript:void(0)">
                      <p>○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○...</p>
                    </a>
                  </h5>
                </li>
              </ul>
          </div>
          <%- include('inc/_pagination'); %>
      </section>
    </div>
</main>
<!--▲ Content are ▲-->
<%- include('inc/_footer'); %>