<%- include('inc/_header'); %>
<!--▼ Content area ▼-->
<main class="p-forum-news" style="--mainColor: var(--royal-blue)">
    <section class="c-forum-mv">
        <h3 class="c-forum-mv__title">
            <div class="l-container">
                公認フォーラム
            </div>
        </h3>
        <div class="l-container">
            <ul class="c-breadcrumb">
                <li class="c-breadcrumb__homepage">
                    <a href="index.html">
                        <img src="../assets/img/breadcrumb_home.svg" width="38" alt="homepage">
                    </a>
                </li>
                <li>
                    ○○○○○○○
                </li>
            </ul>
            <div class="c-forum-mv__content">
                <div class="c-forum-mv__intro">
                    <h3>北海道フォーラム</h3>
                    <ul>
                        <li>新着情報</li>
                        <li>イベント情報</li>
                        <li>活動紹介</li>
                    </ul>
                </div>
                <div class="c-forum-mv__map">
                    <img src="../assets/img/hokkaido_map.svg" width="705" alt="map">
                </div>
            </div>
        </div>
    </section>
    <section class="p-forum-news1">
        <div class="l-container">
            <div class="l-child-page">
                <div class="l-child-page__aside">
                    <%- include('inc/_sidebar'); %>
                </div>
                <div class="l-child-page__article">
                    <div class="c-list-news c-list-news--no-img">
                        <div class="c-list-news__title">
                            <h3>新着情報</h3>
                        </div>
                        <ul class="c-list-news__content">
                            <li>
                                <p>0000.0.00</p>
                                <h5>
                                    <a href="single-forum.html">
                                        ○○○○○○○○○○○○○○○○○○○<br>
                                        ○○○○○○○○○○○○○○○○○○○○○○
                                    </a>
                                </h5>
                            </li>
                            <li>
                                <p>0000.0.00</p>
                                <h5>
                                    <a href="single-forum.html">
                                        ○○○○○○○○○○○○○○○○○○○<br>
                                        ○○○○○○○○○○○○○○○○○○○○○○
                                    </a>
                                </h5>
                            </li>
                            <li>
                                <p>0000.0.00</p>
                                <h5>
                                    <a href="single-forum.html">
                                        ○○○○○○○○○○○○○○○○○○○<br>
                                        ○○○○○○○○○○○○○○○○○○○○○○
                                    </a>
                                </h5>
                            </li>
                            <li>
                                <p>0000.0.00</p>
                                <h5>
                                    <a href="single-forum.html">
                                        ○○○○○○○○○○○○○○○○○○○<br>
                                        ○○○○○○○○○○○○○○○○○○○○○○
                                    </a>
                                </h5>
                            </li>
                            <li>
                                <p>0000.0.00</p>
                                <h5>
                                    <a href="single-forum.html">
                                        ○○○○○○○○○○○○○○○○○○○<br>
                                        ○○○○○○○○○○○○○○○○○○○○○○
                                    </a>
                                </h5>
                            </li>
                            <li>
                                <p>0000.0.00</p>
                                <h5>
                                    <a href="single-forum.html">
                                        ○○○○○○○○○○○○○○○○○○○<br>
                                        ○○○○○○○○○○○○○○○○○○○○○○
                                    </a>
                                </h5>
                            </li>
                            <li>
                                <p>0000.0.00</p>
                                <h5>
                                    <a href="single-forum.html">
                                        ○○○○○○○○○○○○○○○○○○○<br>
                                        ○○○○○○○○○○○○○○○○○○○○○○
                                    </a>
                                </h5>
                            </li>
                            <li>
                                <p>0000.0.00</p>
                                <h5>
                                    <a href="single-forum.html">
                                        ○○○○○○○○○○○○○○○○○○○<br>
                                        ○○○○○○○○○○○○○○○○○○○○○○
                                    </a>
                                </h5>
                            </li>
                            <li>
                                <p>0000.0.00</p>
                                <h5>
                                    <a href="single-forum.html">
                                        ○○○○○○○○○○○○○○○○○○○<br>
                                        ○○○○○○○○○○○○○○○○○○○○○○
                                    </a>
                                </h5>
                            </li>
                            <li>
                                <p>0000.0.00</p>
                                <h5>
                                    <a href="single-forum.html">
                                        ○○○○○○○○○○○○○○○○○○○<br>
                                        ○○○○○○○○○○○○○○○○○○○○○○
                                    </a>
                                </h5>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!--▲ Content are ▲-->
<%- include('inc/_footer'); %>