<%- include('inc/_header'); %>
<!--▼ Content area ▼-->
<main class="p-about">
    <%- include('inc/_page-menu'); %>
    <div class="l-container">
        <ul class="c-breadcrumb">
            <li class="c-breadcrumb__homepage">
                <a href="index.html">
                    <img src="../assets/img/breadcrumb_home.svg" width="38" alt="homepage">
                </a>
            </li>
            <li>
                インフラメンテナンス国民会議とは
            </li>
        </ul>
        <div class="l-child-page">
            <div class="l-child-page__aside">
                <div class="l-child-page__spBar">
                    <button>
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
                <!--▼ Content area ▼-->
                <%- include('inc/_aboutNav'); %>
                <!--▲ Content are ▲-->
            </div>
            <div class="l-child-page__article">
                <h2  class="c-page-title p-about__title">インフラメンテナンス国民会議とは</h2>
                <h3>沿革</h3>
                <ul class="p-about__history">
                    <li>
                        <p>○○年</p>
                        <p>○月○日</p>
                        <p>
                            ○○○○○○○○○○○○<br>
                            ○○○○○○○○○○○○○○○○
                        </p>
                    </li>
                    <li>
                        <p>○○年</p>
                        <p>○月○日</p>
                        <p>
                            ○○○○○○○○○○○○<br>
                            ○○○○○○○○○○○○○○○○
                        </p>
                    </li>
                    <li>
                        <p>○○年</p>
                        <p>○月○日</p>
                        <p>
                            ○○○○○○○○○○○○<br>
                            ○○○○○○○○○○○○○○○○
                        </p>
                    </li>
                    <li>
                        <p>○○年</p>
                        <p>○月○日</p>
                        <p>
                            ○○○○○○○○○○○○<br>
                            ○○○○○○○○○○○○○○○○
                        </p>
                    </li>
                    <li>
                        <p>○○年</p>
                        <p>○月○日</p>
                        <p>
                            ○○○○○○○○○○○○<br>
                            ○○○○○○○○○○○○○○○○
                        </p>
                    </li>
                    <li>
                        <p>○○年</p>
                        <p>○月○日</p>
                        <p>
                            ○○○○○○○○○○○○<br>
                            ○○○○○○○○○○○○○○○○
                        </p>
                    </li>
                    <li>
                        <p>○○年</p>
                        <p>○月○日</p>
                        <p>
                            ○○○○○○○○○○○○<br>
                            ○○○○○○○○○○○○○○○○
                        </p>
                    </li>
                    <li>
                        <p>○○年</p>
                        <p>○月○日</p>
                        <p>
                            ○○○○○○○○○○○○<br>
                            ○○○○○○○○○○○○○○○○
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>
<!--▲ Content are ▲-->
<%- include('inc/_footer'); %>