<%- include('inc/_header'); %>
<!--▼ Content area ▼-->
<main class="p-memberApplicate">
    <div class="l-container">
        <ul class="c-breadcrumb">
            <li class="c-breadcrumb__homepage">
                <a href="index.html">
                    <img src="../assets/img/breadcrumb_home.svg" width="38" alt="homepage">
                </a>
            </li>
            <li>
                会員情報
            </li>
        </ul>
        <div class="l-child-page">
            <div class="l-child-page__aside">
                <div class="l-child-page__spBar">
                    <button>
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
                <!--▼ Content area ▼-->
                <%- include('inc/_membershipNav'); %>
                <!--▲ Content are ▲-->
            </div>
            <div class="l-child-page__article">
                <h2  class="c-page-title">会員情報</h2>
                <div class="p-memberApplicate__intro">
                    <div class="p-memberApplicate__introTxt">
                        <h3>会員の区別</h3>
                        <p>
                            会員は、国民会議の趣旨に賛同して十分な意欲を持って活動に参画し ていただける企業、団体、行政機関又は個人による正会員(下表 (1) (4))とし、正会員については、入会の手続きを経て会員の資格を取得す ることとします。
                        </p>
                        <p>
                            そのほか、国民会議運営のために会員の推薦によりご入会いただく特 別会員や、活動以外の形態により国民会議に協力をいただく賛助会員が あります。
                        </p>
                    </div>
                    <div class="p-memberApplicate__introImg">
                        <img src="../assets/img/member_application_01.png" alt="image" width="294">
                    </div>
                </div>
                <div class="p-memberApplicate__banner">
                    <img src="https://dummyimage.com/882x672/000/fff" alt="image">
                </div>
            </div>
        </div>
    </div>
</main>
<!--▲ Content are ▲-->
<%- include('inc/_footer'); %>