<%- include('inc/_header'); %>
<!--▼ Content area ▼-->
<main class="p-meeting">
    <div class="l-container">
        <ul class="c-breadcrumb">
            <li class="c-breadcrumb__homepage">
                <a href="index.html">
                    <img src="../assets/img/breadcrumb_home.svg" width="38" alt="homepage">
                </a>
            </li>
            <li>
                インフラメンテナンス市区町村長会議
            </li>
        </ul>
        <div class="l-child-page">
            <div class="l-child-page__aside">
                <div class="l-child-page__spBar">
                    <button>
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
                <!--▼ Content area ▼-->
                <%- include('inc/_meetingNav'); %>
                <!--▲ Content are ▲-->
            </div>
            <div class="l-child-page__article">
                <h2  class="c-page-title p-meeting__title">インフラメンテナンス市区町村長会議</h2>
                <section class="p-meeting__content">
                    <div class="p-meeting__banner">
                        <img src="../assets/img/meeting-ico.svg" alt="meeting-ico" width="350">
                    </div>
                    <ul class="p-meeting__tabsList">
                      <li class="p-meeting__tabItem" style="--main-color: var(--yellow)">
                          <a href="municipal-meeting.html">
                              <img src="../assets/img/news-ico.svg" alt="news_ico" width="60" >
                              <span>新着情報</span>
                          </a>
                      </li>
                      <li class="p-meeting__tabItem is-active" style="--main-color: var(--str-blue)">
                          <a href="municipal-meeting-event.html">
                              <img src="../assets/img/event-ico-02.svg" alt="event_ico" width="60" >
                              <span>イベント情報</span>
                          </a>
                      </li>
                      <li class="p-meeting__tabItem" style="--main-color: var(--lig-blue)">
                          <a href="municipal-meeting-activity.html">
                              <img src="../assets/img/activity-ico.svg" alt="activity_ico" width="60" >
                              <span>活動紹介</span>
                          </a>
                      </li>
                    </ul>
                    <div class="p-meeting__listPost">
                        <div class="c-list-news">
                            <ul class="c-list-news__content">
                              <li class="c-list-news__item">
                                <p class="c-list-news__date">0000.0.00</p>
                                <h5 class="c-list-news__item-title">
                                  <a href="single_meetingEvent.html">
                                    <p>○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○...</p>
                                  </a>
                                </h5>
                              </li>
                              <li class="c-list-news__item">
                                <p class="c-list-news__date">0000.0.00</p>
                                <h5 class="c-list-news__item-title">
                                  <a href="javascript:void(0)">
                                    <p>○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○...</p>
                                  </a>
                                </h5>
                              </li>
                              <li class="c-list-news__item">
                                <p class="c-list-news__date">0000.0.00</p>
                                <h5 class="c-list-news__item-title">
                                  <a href="javascript:void(0)">
                                    <p>○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○...</p>
                                  </a>
                                </h5>
                              </li>
                              <li class="c-list-news__item">
                                <p class="c-list-news__date">0000.0.00</p>
                                <h5 class="c-list-news__item-title">
                                  <a href="javascript:void(0)">
                                    <p>○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○...</p>
                                  </a>
                                </h5>
                              </li>
                              <li class="c-list-news__item">
                                <p class="c-list-news__date">0000.0.00</p>
                                <h5 class="c-list-news__item-title">
                                  <a href="javascript:void(0)">
                                    <p>○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○...</p>
                                  </a>
                                </h5>
                              </li>
                              <li class="c-list-news__item">
                                <p class="c-list-news__date">0000.0.00</p>
                                <h5 class="c-list-news__item-title">
                                  <a href="javascript:void(0)">
                                    <p>○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○...</p>
                                  </a>
                                </h5>
                              </li>
                              <li class="c-list-news__item">
                                <p class="c-list-news__date">0000.0.00</p>
                                <h5 class="c-list-news__item-title">
                                  <a href="javascript:void(0)">
                                    <p>○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○...</p>
                                  </a>
                                </h5>
                              </li>
                              <li class="c-list-news__item">
                                <p class="c-list-news__date">0000.0.00</p>
                                <h5 class="c-list-news__item-title">
                                  <a href="javascript:void(0)">
                                    <p>○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○...</p>
                                  </a>
                                </h5>
                              </li>
                              <li class="c-list-news__item">
                                <p class="c-list-news__date">0000.0.00</p>
                                <h5 class="c-list-news__item-title">
                                  <a href="javascript:void(0)">
                                    <p>○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○...</p>
                                  </a>
                                </h5>
                              </li>
                              <li class="c-list-news__item">
                                <p class="c-list-news__date">0000.0.00</p>
                                <h5 class="c-list-news__item-title">
                                  <a href="javascript:void(0)">
                                    <p>○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○...</p>
                                  </a>
                                </h5>
                              </li>
                              <li class="c-list-news__item">
                                <p class="c-list-news__date">0000.0.00</p>
                                <h5 class="c-list-news__item-title">
                                  <a href="javascript:void(0)">
                                    <p>○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○...</p>
                                  </a>
                                </h5>
                              </li>
                            </ul>
                        </div>
                        <%- include('inc/_pagination'); %>
                    </div>
                </section>
            </div>
        </div>
    </div>
</main>
<!--▲ Content are ▲-->
<%- include('inc/_footer'); %>