<%- include('inc/_header'); %>
<!--▼ Content area ▼-->
<main class="p-single-dtb-02" style="--mainColor: var(--purple)">
    <%- include('inc/_page-menu'); %>
    <div class="p-single-dtb-02__content">
        <div class="l-container">
            <ul class="c-breadcrumb">
                <li class="c-breadcrumb__homepage">
                    <a href="index.html">
                        <img src="../assets/img/breadcrumb_home.svg" width="38" alt="homepage">
                    </a>
                </li>
                <li>
                    インフラメンテナンス　データベース
                </li>
            </ul>
            <h2 class="c-page-title">インフラメンテナンス　<br class="sp-only">データベース</h2>
            <!-- <div class="c-back">
                <a href="database.html">
                    ◀︎ 前のページに戻る
                </a>
            </div> -->
            <h3 class="c-title">
                シーズ
            </h3>
            <div class="p-single-dtb-02__thumbnail">
                <img src="../assets/img/dtb_thumbnail.png" alt="dtb_thumbnail">
            </div>
            <div class="p-single-dtb-02__table">
                <ul class="c-table-02">
                    <li>
                        <h5>
                            提案シーズ
                        </h5>
                        <p>
                            完全ケーブルレス地中レーダを用いたドローン計測
                        </p>
                    </li>
                    <li>
                        <h5>
                            提案企業名
                        </h5>
                        <p>
                            ○○○○○○○
                        </p>
                    </li>
                    <li>
                        <h5>
                            対象とするニーズ
                        </h5>
                        <p>
                            道路法面保護施設（モルタル吹付）の地山との空洞化（密着度）やラス網の有無の調査技術
                        </p>
                    </li>
                    <li>
                        <h5>
                            提案のあったイベント
                        </h5>
                        <p>
                            第６回ピッチイベント
                        </p>
                    </li>
                    <li>
                        <h5>提案資料</h5>
                        <p>
                            <a href="javascript:void(0)"><img src="../assets/img/pdf_ico.png" alt="pdf_ico" width="40">
                            </a>
                        </p>
                    </li>
                    <li>
                        <h5>実証実験報告書</h5>
                        <p>
                            <a href="javascript:void(0)"><img src="../assets/img/pdf_ico.png" alt="pdf_ico" width="40">
                            </a>
                        </p>
                    </li>
                    <li>
                        <h5>備考</h5>
                        <p>○○○○○○○○○○○○○○</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>
<!--▲ Content are ▲-->
<%- include('inc/_footer'); %>