<%- include('inc/_header'); %>
<!--▼ Content area ▼-->
<main class="p-single-result-01" style="--mainColor: var(--orange)">
    <%- include('inc/_page-menu'); %>
    <div class="l-container">
        <ul class="c-breadcrumb">
            <li class="c-breadcrumb__homepage">
                <a href="index.html">
                    <img src="../assets/img/breadcrumb_home.svg" width="38" alt="homepage">
                </a>
            </li>
            <li>
                よろず相談
            </li>
        </ul>
        <h2 class="c-page-title">よろず相談</h2>
                <!-- <div class="c-back">
                    <a href="consultation.html">
                        ◀︎ 前のページに戻る
                    </a>
                </div> -->
                <div class="p-single-result-01__content">
                    <ul class="p-single-result-01__tags">
                        <li>
                            <span>点検</span>
                        </li>
                        <li>
                            <span>質問受付中</span>
                        </li>
                    </ul>
                    <h3>タイトル○○○○○○○○○○○○○○</h3>
                    <ul class="p-single-result-01__info">
                        <li>更新日：0000年00月00日 00時00分</li>
                        <li>投稿者：○○○○</li>
                    </ul>
                    <p>
                        ○○○○○○○○○○○○○○○○○○○<br>
                        ○○○○○○○○○○○○○○○○○○○
                    </p>
                    <h5>回答する</h5>
                </div>
                <section class="p-single-result-01__answer">
                    <div class="c-filter-row c-filter-row--title">
                        <div class="p-database__title">
                            <h3>回答一覧</h3>
                        </div>
                    </div>
                    <div class="p-single-result-01__box-table">
                        <table class="p-single-result-01__table">
                            <tr>
                                <th>タイトル</th>
                                <th>最終投稿日時</th>
                                <th>回答者</th>
                            </tr>
                            <tr>
                                <td>○○○○○○○○○○○○○○○</td>
                                <td>0000年 00 月 00 日 00 時 00分</td>
                                <td>○○○○</td>
                            </tr>
                            <tr>
                                <td>○○○○○○○○○○○○○○○</td>
                                <td>0000年 00 月 00 日 00 時 00分</td>
                                <td>○○○○</td>
                            </tr>
                            <tr>
                                <td>○○○○○○○○○○○○○○○</td>
                                <td>0000年 00 月 00 日 00 時 00分</td>
                                <td>○○○○</td>
                            </tr>
                            <tr>
                                <td>○○○○○○○○○○○○○○○</td>
                                <td>0000年 00 月 00 日 00 時 00分</td>
                                <td>○○○○</td>
                            </tr>
                        </table>
                    </div>
                </section>
    </div>
</main>
<!--▲ Content are ▲-->
<%- include('inc/_footer'); %>