<%- include('inc/_header'); %>
<!--▼ Content area ▼-->
<main class="p-meeting">
    <div class="l-container">
        <ul class="c-breadcrumb">
            <li class="c-breadcrumb__homepage">
                <a href="index.html">
                    <img src="../assets/img/breadcrumb_home.svg" width="38" alt="homepage">
                </a>
            </li>
            <li>
                <a href="municipal-meeting.html">
                    インフラメンテナンス市区町村長会議
                </a>
            </li>
            <li>新着情報</li>
        </ul>
        <div class="l-child-page">
            <div class="l-child-page__aside">
                <div class="l-child-page__spBar">
                    <button>
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
                <!--▼ Content area ▼-->
                <%- include('inc/_meetingNav'); %>
                <!--▲ Content are ▲-->
            </div>
            <div class="l-child-page__article">
                <h2  class="c-page-title p-meeting__title">インフラメンテナンス市区町村長会議</h2>
                <section class="p-meeting__content">
                    <div class="p-meeting__banner">
                        <img src="../assets/img/meeting-ico.svg" alt="meeting-ico" width="350">
                    </div>
                    <ul class="p-meeting__tabsList">
                        <li class="p-meeting__tabItem" style="--main-color: var(--yellow)">
                            <a href="municipal-meeting.html">
                                <img src="../assets/img/news-ico.svg" alt="news_ico" width="60" >
                                <span>新着情報</span>
                            </a>
                        </li>
                        <li class="p-meeting__tabItem  is-active" style="--main-color: var(--str-blue)">
                            <a href="municipal-meeting-event.html">
                                <img src="../assets/img/event-ico-02.svg" alt="event_ico" width="60" >
                                <span>イベント情報</span>
                            </a>
                        </li>
                        <li class="p-meeting__tabItem" style="--main-color: var(--lig-blue)">
                            <a href="municipal-meeting-activity.html">
                                <img src="../assets/img/activity-ico.svg" alt="activity_ico" width="60" >
                                <span>活動紹介</span>
                            </a>
                        </li>
                    </ul>
                    <div class="p-meeting__newsDetail">
                        <div class="p-meeting__newsHead">
                            <h5 class="p-meeting__newsDate">0000.0.00</h5>
                            <div class="p-meeting__newThumb">
                                <img src="https://dummyimage.com/600x400/b3b3b3/fff" alt="post_thumbnail">
                            </div>
                        </div>
                        <h2>タイトル ooooooooo</h2>
                        <div class="p-meeting__newsContent">
                            <p>
                                リード文テストテストテストテストテストテストテストテストテスト
                                テストテストテストテストテストテストテストテストテストテストテ
                                テストテストテストテストテストテストテストテストテストテストテ
                            </p>
                            <h3>項目1</h3>
                            <p>
                                テストテストテストテストテストテストテストテストテストテストテスト
                                テストテストテストテストテストテストテストテストテストテストテスト
                                テストテストテストテストテストテストテストテストテストテストテスト
                            </p>
                            <h3>項目2</h3>
                            <p>
                                テストテストテストテストテストテストテストテストテストテストテスト
                                テストテストテストテストテストテストテストテストテストテストテスト
                                テストテストテストテストテストテストテストテストテストテストテスト
                            </p>
                            <h3>項目3</h3>
                            <p>
                                テストテストテストテストテストテストテストテストテストテストテスト
                                テストテストテストテストテストテストテストテストテストテストテスト
                                テストテストテストテストテストテストテストテストテストテストテスト
                            </p>
                            <h3>項目4</h3>
                            <p>
                                テストテストテストテストテストテストテストテストテストテストテスト
                                テストテストテストテストテストテストテストテストテストテストテスト
                                テストテストテストテストテストテストテストテストテストテストテスト
                            </p>
                            <ul>
                                <li>資料○○○○○○○○○.pdf</li>
                                <li>資料○○○○○○○○○.pdf</li>
                                <li>資料○○○○○○○○○.pdf</li>
                            </ul>
                        </div>
                        
                    </div>

                </section>
            </div>
        </div>
    </div>
</main>
<!--▲ Content are ▲-->
<%- include('inc/_footer'); %>