<%- include('inc/_header'); %>
<!--▼ Content area ▼-->
<main class="p-forum">
    <div class="l-container">
        <ul class="c-breadcrumb">
            <li class="c-breadcrumb__homepage">
                <a href="index.html">
                    <img src="../assets/img/breadcrumb_home.svg" width="38" alt="homepage">
                </a>
            </li>
            <li>
              北海道フォーラム
            </li>
        </ul>
        <div class="l-child-page">
            <div class="l-child-page__aside">
                <div class="l-child-page__spBar">
                    <button>
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
                <!--▼ Content area ▼-->
                <%- include('inc/_forumNav'); %>
                <!--▲ Content are ▲-->
            </div>
            <div class="l-child-page__article">
                <h2  class="c-page-title p-about__title">北海道フォーラム</h2>
                <section class="p-forum__mainVisual">
                    <div class="p-forum__box2" style="--main-color: var(--royal-blue)">
                        <div class="content">
                          <h2>
                            <?xml version="1.0" encoding="UTF-8"?>
<svg id="_ヘッダー" data-name="ヘッダー" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27.33 27.33">
  <defs>
  </defs>
  <path class="cls-1" d="m13.66,0l13.66,13.66-13.66,13.66L0,13.66,13.66,0Z"/>
</svg>
                            北海道フォーラム
                          </h2>
                          <p>
                            平成30年3月23日に設立し、北海道内の地方公共団体が管理する土木施設・公共施設の適切なメンテナンスを継続していくため、 産学官民の技術や知恵を総動員するプラット フォーラムとして、活動しています。
                          </p>
                        </div>
                        <div class="leader">
                          <p>
                            <span>リーダー 高野 伸栄</span><br>
                            <span>北海道大学大学院工学研究院教授</span>
                          </p>
                          <img src="../assets/img/nobuaki-takano.png" alt="leader" width="134">
                        </div>
                        <img src="../assets/img/hokkaido_bg.svg" alt="hokkaido_map" class="map">
                    </div>
                </section>
                <div class="p-forum__content">
                    <section class="p-single-forum">
                        <div class="p-single-forum__title">
                            <img src="../assets/img/news-ico.svg" width="100" alt="新着情報" />
                            <h3>新着情報</h3>
                        </div>
                        <div class="p-single-forum__content">
                            <p class="p-single-forum__date">0000.0.00</p>
                            <div class="p-single-forum__thumbnail">
                                <img src="https://dummyimage.com/600x400/000/fff" alt="thumbnail">
                            </div>
                            <h4 class="p-single-forum__sub-title">開催概要</h4>
                            <ul>
                                <li>
                                    <p>日　時</p>
                                    <p>令和0年00月00日(○)00:00～00:00</p>
                                </li>
                                <li>
                                    <p>参加者</p>
                                    <p>
                                        地方自治体：00名<br>
                                            （○○○・○○○・○○○・○○○・○○○・○○○）<br>
                                        民間企業等：00名（00社・団体）※うち当日参加：0名（0社）<br>
                                        事務局　　：00名（国土政策研究会）<br>
                                        国土交通省：0名（近畿地方整備局）<br>
                                        メンター　：0名<br>
                                        出席者合計　00名
                                    </p>
                                </li>
                            </ul>
                            <div  class="p-single-forum__btn">
                                <a href="javascript:void(0)">
                                    開催概要pdf
                                </a>
                            </div>
                        </div>
                    </section>
                </div>
                <%- include('inc/_contactInfo'); %>
            </div>
        </div>
    </div>
</main>
<!--▲ Content are ▲-->
<%- include('inc/_footer'); %>