<%- include('inc/_header'); %>
<!--▼ Content area ▼-->
<main class="p-about">
    <%- include('inc/_page-menu'); %>
    <div class="l-container">
        <ul class="c-breadcrumb">
            <li class="c-breadcrumb__homepage">
                <a href="index.html">
                    <img src="../assets/img/breadcrumb_home.svg" width="38" alt="homepage">
                </a>
            </li>
            <li>
                インフラメンテナンス国民会議とは
            </li>
        </ul>
        <div class="l-child-page">
            <div class="l-child-page__aside">
                <div class="l-child-page__spBar">
                    <button>
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
                <!--▼ Content area ▼-->
                <%- include('inc/_aboutNav'); %>
                <!--▲ Content are ▲-->
            </div>
            <div class="l-child-page__article">
                <h2  class="c-page-title p-about__title">インフラメンテナンス国民会議とは</h2>
                <h3>組織体制</h3>
                <p>国民会議の活動については、国民会議の趣旨に賛同し活動に意欲のある企業、研究機関、施設管理者、市民団体等の会員にメリットのある活動を会員の主体的な運営により行うこととし、 会員により構成される実行委員会、各部会、インフラメンテナンス市区町村長会議、公認フォーラムを設け、運営を行います。<br>
                    国民会議のプラットフォーム全体については、関係省庁の協力を得て、国土交通省が事務局を行います。</p>
                <div class="p-about__map">
                    <img src="../assets/img/about_map.png" alt="総会">
                </div>
                <h4>
                    推進体制
                </h4>
                <div class="p-about__tableImg">
                    <img src="https://dummyimage.com/870x618/878787/fff" alt="image">
                </div>
                <div class="p-about__tableImg">
                    <img src="https://dummyimage.com/870x618/878787/fff" alt="image">
                </div>
                <div class="p-about__tableImg">
                    <img src="https://dummyimage.com/870x618/878787/fff" alt="image">
                </div>
                <div class="p-about__tableImg">
                    <img src="https://dummyimage.com/870x618/878787/fff" alt="image">
                </div>
            </div>
        </div>
    </div>
</main>
<!--▲ Content are ▲-->
<%- include('inc/_footer'); %>