.c-table {
    width: 100%;
	max-width: 100%;
    display: table;
    border: 1px solid var(--primary);
	border-collapse: collapse;
    &__row,
    &__title-cell,
    &__cell {
        border: 1px solid var(--primary);
	    border-collapse: collapse;
    }
    &__row {
        display: table-row;
        &:not(:first-child) {
            &:hover {
                opacity: 0.7;
            }
        }
        &:nth-child(odd) {
            .c-table__cell {
                background-color: #EEEEEE;
            }
        }
    }
    &__title-cell,
    &__cell {
        display: table-cell;
        padding: 8px 4px;
        vertical-align: middle;
    }
    &__title-cell {
        background-color: #5fb4b6ad;
        color: white;
        font-size: 1.1rem;
        font-weight: 700;
        text-align: center;
        &.u-clickable {
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
        &.u-col-17 {
            width: 17%;
        }
        &.u-col-9 {
            width: 9%;
        }
        &.u-col-8 {
            width: 8.8%;
        }
    }
    &__cell {
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .c-table {
        min-width: 830px;
    }
}

.c-table-02 {
    li {
        display: flex;
        justify-content: space-between;
        &:not(:last-child) {
            margin-bottom: 5px;
        }
        h5,p {
            vertical-align: middle;
            box-sizing: border-box;
            display: flex;
            align-items: center;
        }
        h5 {
            font-size: 1.6rem;
            font-weight: 700;
            width: 23.35%;
            background-color: #E5E5E5;
            text-align: center;
            padding: 21px 5px;
            justify-content: center;
        }
        p {
            font-size: 1.2rem;
            font-weight: 500;
            width: calc(76.65% - 10px);
            border-bottom: 1px solid #231815;
            padding: 10px 20px;
        }
    }
}

@media screen and (max-width: 768px) {
    .c-table-02 {
        li {
            h5 {
                font-size: 1.2rem;
                padding: 10px 5px;
                width: 30.35%;
            }
            p{
                font-size: 1rem;
                padding: 10px;
                width: calc(69.65% - 10px);
            }
        }
    }
}