.c-filter-row {
    display: flex;
        align-items: baseline;
        flex-wrap: wrap;
        &:not(.c-filter-row--title) {
            margin-bottom: 22.5px;
        }
        &--mw-489 {
            max-width: 489px;
        }
        &--radio {
            align-items: center;
        }
        &--title {
            margin-bottom: 7px;
            position: relative;
            z-index: 2;
            &:not(.c-filter-row--radio) {
                &::before {
                    content:'';
                    background-color: var(--primary);
                    display: block;
                    position: absolute;
                    z-index: -1;
                    height: 1px;
                    width: 100%;
                    top: 50%;
                    right: 0;
                    transform: translate(0, -50%);
                }
                .p-database__title {
                    background-color: #fff;
                }
            }
        }
        .c-input {
            width: 54.5%;
        }
        .c-checkbox {
            &:not(:last-child) {
                margin-right: 1.9rem;
            }
        }
}

.c-filter-submit {
    text-align: center;
    button,input[type="submit"] {
        --main-color: #A46AA8;
        color: #fff;
        background-color: var(--main-color);
        border: 1px solid var(--main-color);
        outline: none;
        border-radius: 4px;
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1;
        padding: 9px 46px;
        cursor: pointer;
        &:hover {
            background-color: #fff;
            color: var(--main-color);
        }
    }
}

@media screen and (max-width: 768px) {
    
}