.c-form {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    &__notice {
        color: var(--red);
        font-weight: 600;
    }
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin: 20px 0;
    }
    &__label {
        width: 21%;
        padding-top: 11.5px;
        font-weight: 600;
        font-size: 1.8rem;
        &--required {
            &::after {
                content: '※';
                display: inline-block;
                color: var(--red);
                margin-left: 10px;
                font-weight: 600;
            }
        }
        span {
            float: right;
        }
    }
    &__input {
        width: calc(100% - 22%);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        
        input,textarea {
            max-width: 100%;
            min-width: 70%;
            flex: 1;
            font-size: 1.4rem;
            padding: 7.5px 5px;
            outline: none;
            border: 1px solid #000;
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }
    &__radio {
        display: inline-flex;
        align-items: center;
        &:not(:last-child) {
            margin-right: 15px;
        }
        input {
            flex: unset;
            font-size: unset;
            min-width: unset;
            margin: 0 6px 0 0!important;
        }
        span {
            display: inline-block;
        }
    }
    &__addrSymbol {
        font-size: 2rem;
        padding-right: 10px;
        display: inline-block;
        margin-bottom: 20px;
    }
    &__submit {
        text-align: center;
        button,input[type="submit"] {
            border: none;
            outline: none;
            background-color: var(--primary);
            color: #fff;
            font-weight: 600;
            font-size: 1.6rem;
            padding: 7px 5px;
            width: 36.5%;
            margin: 0 auto;
            cursor: pointer;
            &:hover {
                opacity: 0.6;
            }
        }
    }
    &__small {
        margin-top: 25px;
    }
}

@media screen and (max-width: 768px) {
    .c-form {
        &__row {
            flex-wrap: wrap;
        }
        &__label,
        &__input {
            width: 100%;
        }
        &__label {
            font-size: 1.4rem;
            padding-top: 0;
            span {
                display: block;
                float: unset;
                margin-top: 10px;
                font-weight: normal;
            }
        }
        &__input {
            font-size: 1.6rem;
            margin-top: 10px;
            span,input:not(:last-child),textarea:not(:last-child){
                margin-bottom: 10px;
            }
        }
        &__submit {
            button,input[type="submit"] {
                font-size: 1.4rem;
                width: 40%;
                max-width: 300px;
            }
        }
    }
}