.p-single-dtb-01 {
    padding-bottom: 45px;
    .c-back {
        margin-bottom: 19px;
        margin-top: 30px;
    }
    .c-title {
        margin-bottom: 45px;
    }
    &__table {
        .c-table-02 {
            &:not(:last-child) {
                margin-bottom: 88px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .p-single-dtb-01 {
        .c-back {
            margin: 10px 0;
        }
        .c-title {
            margin-bottom: 25px;
        }
        &__table {
            .c-table-02 {
                &:not(:last-child) {
                    margin-bottom: 40px;
                }
            }
        }
    }
}