.p-single-forum {
    width: 100%;
    max-width: 712px;
    margin-top: 55px;
    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 26px;
        h3 {
            // color: #fff;
            // background-color: var(--primary);
            font-size: 2.64rem;
            // width: calc(100% - 118px);
            box-sizing: border-box;
            padding: 0 7px;
            margin-left: 65px;
            // &::before {
            //     content: '▶';
            //     display: inline-block;
            //     color: inherit;
            //     font-size: inherit;
            //     margin-right: 13px;
            // }
        }
    }
    &__content {
        ul {
            li {
                display: flex;
                padding: 22px 0;
                border-bottom: 1px solid #000;

                p {
                    font-weight: 500;
                    font-size: 1.5rem;

                    &:first-child {
                        width: 10%;
                        margin-right: 15px;
                    }

                    &:last-child {
                        width: calc(90% - 15px);
                    }
                }
            }
        }
        .p-single-forum {
            &__thumbnail {
                margin: 10px auto 0;
                width: 100%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            &__date {
                text-align: right;
                margin-top: 20px;
            }

            &__sub-title {
                text-align: center;
                color: var(--primary);
                font-weight: 900;
                font-size: 3rem;
                margin-top: 10px;
            }

            &__btn {
                margin-top: 27px;
                text-align: center;

                a {
                    display: inline-block;
                    color: #fff;
                    background-color: var(--primary);
                    font-size: 1.5rem;
                    font-weight: 500;
                    line-height: 1;
                    padding: 3px 46.5px;
                    border: 2px solid var(--primary);

                    &:hover {
                        color: var(--primary);
                        background-color: #fff;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .p-single-forum {
        margin-top: 30px;
        &__title {
            margin-bottom: 20px;
            img{
                max-width: 10%;
            }
            h3 {
                font-size: 1.6rem;
                margin-left: 15px;
            }
            &--no-img {
                h3 {
                    width: 100%;
                }
            }
        }
        &__content {
            ul {
                li {
                    padding: 10px 0;
                    p {
                        font-size: 1.2rem;
                        &:first-child {
                            width: 30%;
                        }
                        &:last-child {
                            width: calc(70% - 15px);
                        }
                    }
                }
            }
            .p-single-forum {
                &__sub-title {
                    font-size: 1.6rem;
                }
                &__thumbnail {
                    width: 80%;
                }
                &__btn {
                    a {
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
}