<nav class="c-aboutNav">
    <h3>
        <span>インフラメンテナンス</span>
        <span>国民会議とは</span>
    </h3>
    <a href="about.html">設立と背景</a>
    <a href="history.html">沿革</a>
    <a href="business-content.html">事業内容等</a>
    <a href="system.html">組織体制</a>
    <a href="javascript:void(0)">会員一覧</a>
    <a href="contact.html">お問い合わせ先</a>
</nav>