<section class="c-info">
    <h4><img src="../assets/img/info_ico.svg" alt="info_icon" width="56">お問い合わせ先</h4>
    <div class="c-info__content">
        <h5>インフラメンテナンス国民会議 事務局</h5>
        <p>
            国土交通省 総合政策局 公共事業企画調整課 武田、神野<br>
            TEL:03-5253-8111(内線 24563、24535) 直通 03-5253-8912<br>
            国土交通省 大臣官房 公共事業調査室 大西<br>
            TEL:03-5253-8111(内線 24296) 直通 03-5253-8258<br>
            Email:hqt-jcim-sogo@gxb.mlit.go.jp
        </p>
    </div>
</section>