	<!--▼ Footer ▼-->
	<footer class="c-footer">
		<div class="c-footer__content">
			<div class="l-container">
				<h2 class="c-footer__logo">
					<a href="index.html">
						<img src="../../assets/img/logo.svg" width="508" alt="インフラメンテナンス国民会議">
					</a>
				</h2>
				<ul>
					<li>
						<a href="contact.html">
							お問い合わせ
						</a>
					</li>
					<li>
						<a href="javascript:void(0)">
							サイトマップ
						</a>
					</li>
					<li>
						<a href="https://www.mlit.go.jp/privacy.html" target="_blank">
							プライバシーポリシー
						</a>
					</li>
					<li>
						<a href="https://www.mlit.go.jp/link.html" target="_blank">
							リンク・著作権・免責事項
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="c-footer__copyright">
			<div class="l-container">
				<p>Copyright c 2023 インフラメンテナンス国民会議 All Rights Reserved.</p>
			</div>
		</div>
	</footer>
	<!--▲ Footer ▲-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
	<script>var exports = {};</script>
	<script src="assets/js/match-height.js"></script>
	<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
	<script src="assets/js/main.js"></script>
</body>
</html>