<nav class="c-aboutNav" style="--main-color: var(--pink)">
    <h3>
        <span>公認フォーラム</span>
    </h3>
    <a href="forum.html">公認フォーラムTOP</a>
    <a href="javascript:void(0)">革新的技術フォーラム</a>
    <a href="javascript:void(0)">自治体支援フォーラム</a>
    <a href="javascript:void(0)">技術者育成フォーラム</a>
    <a href="javascript:void(0)">市民参画フォーラム</a>
    <a href="javascript:void(0)">海外市場展開フォーラム</a>
    <a href="forum-hokkaido.html">北海道フォーラム</a>
    <a href="javascript:void(0)">東北フォーラム</a>
    <a href="javascript:void(0)">関東地方フォーラム</a>
    <a href="javascript:void(0)">北陸インフラメンテナンス</a>
    <a href="javascript:void(0)">フォーラム</a>
    <a href="javascript:void(0)">中部フォーラム</a>
    <a href="javascript:void(0)">近畿本部フォーラム</a>
    <a href="javascript:void(0)">「ちゅうごく」 (中国フォーラム)</a>
    <a href="javascript:void(0)">四国地方フォーラム</a>
    <a href="javascript:void(0)">九州フォーラム</a>
    <a href="javascript:void(0)">沖縄フォーラム</a>
</nav>