<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>インフラメンテナンス国民会議</title>
	<link rel="icon" type="image/x-icon" href="../../assets/img/abou_ico.png">
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<link rel="stylesheet" href="assets/css/style.css">
	<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
<body>
	<!--▼ Header ▼-->
	<header class="c-header">
		<div class="l-container c-header__box">
			<h1 class="c-header__logo">
				<a href="index.html">
					<img src="../../assets/img/logo.svg" width="508" alt="インフラメンテナンス国民会議">
				</a>
			</h1>
			<nav class="c-header__menu">
				<a class="c-btn01 c-btn01--red" href="javascript:void(0)">ログイン</a>
				<dl>
					<dt>文字サイズ変更</dt>
					<dd><a class="c-btn01" href="javascript:void(0)">標準</a></dd>
					<dd><a class="c-btn01" href="javascript:void(0)">拡大</a></dd>
				</dl>
				<nav class="c-header__spNav">
					<a href="/" style="--color: var(--primary)">
						<img src="../../assets/img/home_ico.svg" alt="homepage" width="37.5">
						<span>ホーム</span>
					</a>
					<a href="javascript:void(0)" style="--color: var(--red)">
						<img src="../../assets/img/abou_ico.png" alt="about" width="37.5">
						<span>
							インフラメンテナンス<br>
							国民会議とは
						</span>
					</a>
					<a href="forum.html" style="--color: var(--pink)">
						<img src="../../assets/img/mini_map_ico.svg" alt="forum" width="37.5">
						<span>公認フォーラム</span>
					</a>
					<a href="javascript:void(0)" style="--color: var(--yellow)">
						<img src="../../assets/img/news-ico.svg" alt="news" width="37.5">
						<span>新着情報</span>
					</a>
					<a href="javascript:void(0)" style="--color: var(--str-blue)">
						<img src="../../assets/img/event-ico.svg" alt="event" width="37.5">
						<span>
							イベント情報
						</span>
					</a>
					<a href="javascript:void(0)" style="--color: var(--lig-blue)">
						<img src="../../assets/img/activity-ico.svg" alt="activity-ico" width="37.5">
						<span>活動紹介</span>
					</a>
					<a href="database.html" style="--color: var(--purple)">
						<img src="../../assets/img/dtb-ico.svg" alt="database" width="37.5">
						<span>
							インフラメンテナンス<br>
							データベース
						</span>
					</a>
					<a href="javascript:void(0)" style="--color: var(--green)">
						<img src="../../assets/img/meeting-ico.svg" alt="meeting" width="37.5">
						<span>
							インフラメンテナンス<br>
							市区町村長会議
						</span>
					</a>
					<a href="consultation.html" style="--color: var(--orange)">
						<img src="../../assets/img/faq-ico.svg" alt="FAQ" width="37.5">
						<span>
							よろず相談
						</span>
					</a>
					<a href="javascript:void(0)" style="--color: var(--str-green)">
						<img src="../../assets/img/regis-ico.svg" alt="register" width="37.5">
						<span>会員申込</span>
					</a>
				</nav>
			</nav>
			<button class="c-header__navBar">
				<span></span>
				<span></span>
				<span></span>
			</button>
		</div>
		<%- include('./_page-menu'); %>
	</header>
	<!--▲ Header ▲-->