<nav class="c-aboutNav">
    <h3>
        <span>インフラメンテナンス</span>
        <span>市区町村長会議</span>
    </h3>
    <a href="municipal-meeting.html">新着・イベント・活動情報</a>
    <a href="javascript:void(0)">推進体制</a>
    <a href="javascript:void(0)">構成</a>
</nav>