<ul class="p-meeting__tabsList">
    <li class="p-meeting__tabItem is-active" style="--main-color: var(--yellow)">
        <a href="municipal-meeting.html">
            <img src="../assets/img/news-ico.svg" alt="news_ico" width="60" >
            <span>新着情報</span>
        </a>
    </li>
    <li class="p-meeting__tabItem" style="--main-color: var(--str-blue)">
        <a href="javascript:void(0)">
            <img src="../assets/img/event-ico-02.svg" alt="event_ico" width="60" >
            <span>イベント情報</span>
        </a>
    </li>
    <li class="p-meeting__tabItem" style="--main-color: var(--lig-blue)">
        <a href="municipal-meeting-activity.html">
            <img src="../assets/img/activity-ico.svg" alt="activity_ico" width="60" >
            <span>活動紹介</span>
        </a>
    </li>
</ul>