<nav class="c-aboutNav" style="--main-color: var(--str-green)">
    <h3>
        <span>会員情報</span>
    </h3>
    <a href="distinction.html">会員の区別</a>
    <a href="members-list.html">会員一覧</a>
    <a href="membership-application.html">会員申込</a>
</nav>