<section class="c-page-menu">
    <div class="l-container">
        <ul class="c-page-menu__list">
            <li>
                <a href="index.html" style="--color: var(--primary)">
                    <img src="../../assets/img/home_ico.svg" alt="homepage" width="37.5">
                    <span>ホーム</span>
                </a>
            </li>
            <li>
                <a href="about.html" style="--color: var(--red)">
                    <img src="../../assets/img/abou_ico.png" alt="about" width="37.5">
                    <span>
                        インフラメンテナンス<br>
                        国民会議とは
                    </span>
                </a>
            </li>
            <li>
                <a href="forum.html" style="--color: var(--pink)">
                    <img src="../../assets/img/mini_map_ico.svg" alt="forum" width="37.5">
                    <span>公認フォーラム</span>
                </a>
            </li>
            <li>
                <a href="forum-news.html" style="--color: var(--yellow)">
                    <img src="../../assets/img/news-ico.svg" alt="news" width="37.5">
                    <span>新着情報</span>
                </a>
            </li>
            <li>
                <a href="forum-event.html" style="--color: var(--str-blue)">
                    <img src="../../assets/img/event-ico.svg" alt="event" width="37.5">
                    <span>
                        イベント情報
                    </span>
                </a>
            </li>
            <li>
                <a href="forum-activity.html" style="--color: var(--lig-blue)">
                    <img src="../../assets/img/activity-ico.svg" alt="activity-ico" width="37.5">
                    <span>活動紹介</span>
                </a>
            </li>
            <li>
                <a href="database.html" style="--color: var(--purple)">
                    <img src="../../assets/img/dtb-ico.svg" alt="database" width="37.5">
                    <span>
                        インフラメンテナンス<br>
                        データベース
                    </span>
                </a>
            </li>
            <li>
                <a href="municipal-meeting.html" style="--color: var(--green)">
                    <img src="../../assets/img/meeting-ico.svg" alt="meeting" width="37.5">
                    <span>
                        インフラメンテナンス<br>
                        市区町村長会議
                    </span>
                </a>
            </li>
            <li>
                <a href="consultation.html" style="--color: var(--orange)">
                    <img src="../../assets/img/faq-ico.svg" alt="FAQ" width="37.5">
                    <span>
                        よろず相談
                    </span>
                </a>
            </li>
            <li>
                <a href="membership-application.html" style="--color: var(--str-green)">
                    <img src="../../assets/img/regis-ico.svg" alt="register" width="37.5">
                    <span>会員申込</span>
                </a>
            </li>
        </ul>
    </div>
</section>